.animated-gradient-background {
  animation: gradientAnimation 5s linear infinite alternate; /* Fallback si JS no carga */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
